<!-- Left logo - typically the publisher's logo - project or affiliate -->
        <div id="project-nav">
          <a id="project-logo" no-external="true" href="https://fhir.ehdsi.eu">
            <img height="61" alt="Project home" src="{{site.data.info.assets}}assets/images/ehdsi_logo_left.png"/>
            <img height="61" alt="FHIR website" src="{{site.data.info.assets}}assets/images/ehdsi_logo_right.png"/>
          </a>
        </div>

<!-- Right logo - for example the FHIR logo -->
<!-- Make sure you have authorization to use the FHIR logo -->

       <div id="family-nav">
          <a id="family-logo" no-external="true" href="http://hl7.org/fhir"><img height="61" alt="FHIR website" src="{{site.data.info.assets}}assets/images/fhir-logo-www.png"/> </a>
        </div> 
    

<!-- search icon - if you want -->
<!--
        <div id="hl7-search">
          <a id="hl7-search-lnk" no-external="true" href="http://hl7.org/fhir/search.cfm"><img alt="Search FHIR" src="{{site.data.info.assets}}assets/images/search.png"/></a>
        </div>
-->
